<section id="hero" class="bg-primary text-white text-center py-3">
    <div class="container">
        <h2>Contact Me</h2>
        <p>I look forward to hearing from you and will get back to you as soon as possible.</p>
    </div>
</section>
<div class="container mt-4">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name" />
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
                Name is required (Min: 3 characters).
            </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email"
                placeholder="Enter your email" />
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
                Enter a valid email.
            </div>
        </div>

        <!-- Message -->
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" class="form-control" rows="4" formControlName="message"
                placeholder="Type your message here"></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
                Message must be at least 10 characters long.
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
    </form>
</div>