<section id="education" class="py-2">
    <div class="container rounded shadow border p-3 bg-white text-black">
        <div class="education-entry">
            <h3>Ministry of Children, Community and Social Services | Toronto, ON</h3>
            <p><strong>Junior Software Developer</strong></p>
            <p><em>January 2025 - Present</em></p>
        </div>
        <div>
            <p>During my time at this organization, I continuously work with two key technology stacks. I gain hands-on experience with
            Angular and Java (Spring Boot), as well as SQL Developer. Additionally, I work with ASP.NET Core, utilizing Windows
            Forms applications and SQL Server Management Studio (SSMS). My time here continuously teaches me valuable skills in
            solving complex problems and providing scalable solutions to real-world challenges.</p>
            <a href="https://www.ontario.ca/page/ministry-children-community-and-social-services">Ministry of Children,
                Community and Social Services</a>
        </div>
    </div>
</section>
<section id="education" class="py-2">
    <div class="container rounded shadow border p-3 bg-white text-black">
        <div class="education-entry">
            <h3>Codex | Memphis, TN</h3>
            <p><strong>Teacher's Assistant</strong></p>
            <p><em>December 2024 - Present</em></p>
        </div>
        <div>
            <p>My time as a Teaching Assistant (TA) at Codex is a rewarding experience. I have the opportunity to
                support students
                during critical moments in their learning, particularly in programming and software development
                techniques. I also
                assist students with their projects and assignments. It's a role I truly enjoy, and it is incredibly
                fulfilling to help
                others succeed in their studies.</p>
            <a href="https://codex.academy/">Codex Academy</a>
        </div>
    </div>
</section>