<section id="hero" class="bg-primary text-white text-center py-3">
    <div class="container">
        <h2>About Me</h2>
        <p>Discover my work, projects, and skills as a Software Developer.</p>
    </div>
</section>

<section id="about" class="py-5">
    <div class="container rounded shadow border p-3 bg-white text-black">
        <div class="row">
            <!-- About Text -->
            <div class="col-md-6 col-lg-8 d-flex flex-column justify-content-center">
                <h2 class="h4">Hello! I'm <span style="color: rgb(255, 153, 0);">Thomas</span> Coons</h2>
                <p class="lead fw-light">I'm a passionate software developer with experience in various technologies.
                    I love solving complex problems and creating efficient, scalable solutions. My skills span across
                    backend
                    and frontend development, including Java, Angular, and web development.</p>

                <!-- Social Links -->
            </div>

            <!-- Profile Image -->
            <div class="col-md-6 col-lg-4 text-center">
                <img class="rounded-circle border border-5" src="/assets/me.jpg" alt="Your Profile Image" width="275">
            </div>
        </div>
        <div class="mt-3">
            <a href="https://www.linkedin.com/in/tom-coons-b372952a5/" target="_blank" class="btn border me-2">
                <img src="/assets/LinkedIn-Logos/LI-Logo.png" width="90" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/tcoons1413" target="_blank" class="btn border">
                <img src="/assets/github.png" alt="GitHub Logo" width="22">
                <i class="bi bi-github"></i> GitHub
            </a>
        </div>
    </div>
</section>
<section id="education">
    <div class="container rounded shadow border p-3 bg-white text-black">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Professional Experience
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <app-work-experience></app-work-experience>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Education
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <app-education></app-education>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>